<tr>
  <td><%= purchase.purchaser.name %></td>
  <td><%= purchase.item.description %></td>
  <td><%= number_to_currency purchase.item.price %></td>
  <td><%= purchase.quantity %></td>
  <td><%= number_to_currency purchase.gross_value %></td>
  <td><%= purchase.merchant.name %></td>
  <td><%= purchase.merchant.address %></td>
</tr>
