<h1>
  <i class="fas fa-store"></i>
  <%= t('.title') %>
</h1>

<h2>
  <%= t('.gross_value_sum') %>
  <price>0,00</price>
</h2>



<% if @importers.any? %>
  <div class='flash-notice-wrapper'></div>
  <%= render @importers %>
  <%= will_paginate @importers %>
<% else %>
  <div class='flash-notice-wrapper'></div>
    <div class='flash-notice'><%= t('.empty_list') %></div>
  </div>
<% end %>

<script>
  poll(
      function() { return document.getElementById('importer-status-importing') === null; },
      function() { location.reload(); },
      function() {}
  );
</script>

